<head>
	<title> Travel </title>


		<link rel="stylesheet" type="text/css" href="css/everything.css">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    	 <meta charset="UTF-8">
</head>

<body>

	<section class="header">
		<table>
			<tr>
				<td class="logo">
					<img src="img/logoo.png">
				</td>
				<td class="menu"> 
					<img src="img/menu.png">
				</td>
			</tr>
			<tr>
				<td class="where">
					Where will you go next?
				</td>
			</tr>
			<tr>
				<td class="input">
					<input type="text" name="place" value=" Start typing..."><button>go</button>
				</td>
			</tr>
		</table>
	</section>

	<section class="slideshow">
		<div>
			<p class="title">Top destinations</p>
			<p class="content">Some of the top destinationsfor your next summer adventure. </p><br>
		</div>
		<section class="all">
			<div class="under">
				<div class="slide1">
					$1,095 
				</div>
				<div class="slides">
					<p class="title">Amazing Australia</p>
					<p class="content">Become inspired to travel to Australia. Discover fantastic things to do & places to go. </p>
				</div>
			</div>
			<div class="under">
				<div class="slide2">
					$1,295 
				</div>
				<div class="slides">
					<p class="title"> Ancient South America</p>
					<p class="content"> Become inspired to travel to South America. Discover fantastic things to do & places to go. </p>
				</div>
			</div>
			<div class="under">
				<div class="slide3">
					$695
				</div>
				<div class="slides">
					<p class="title"> modern north america</p>
					<p class="content">Become inspired to travel to North America. Discover fantastic things to do & places to go. </p>
				</div>
			</div>
			<div class="under">
				<div class="slide4">
					$295
				</div>
				<div class="slides">
					<p class="title"> classic europe</p>
					<p class="content"> Become inspired to travel to Europe. Discover fantastic things to do & places to go. </p>
				</div>
			</div>
		</section>
	</section>

	<section class="bottom">
		<div class="before">
			Before you leave
		</div>
		<div class="documents">
			<div class="text">
				<p class="title"> Visa & documents</p>
				<p class="content"> There are some things you should take care of before going to your next adventure. We'll help you to get required visas and documents needed. </p>
			</div>
			<div class="text">
				<p class="title"> Accomodation</p>
				<p class="content"> There are some things you should take care of before going to your next adventure. We'll help you to get required visas and documents needed. </p>
			</div>
			<div class="text">
				<p class="title"> Transportation</p>
				<p class="content"> There are some things you should take care of before going to your next adventure. We'll help you to get required visas and documents needed. </p>
			</div>
		</div>
		<div class="subscribe">
			<div><p class="title"> Judyta proszę nie sprawdzać responsywności</p></div>
			<div><input type="text" name="place" value=" Email address"><button class="sub">subscribe</button></div>
		</div>
	</section>

	<footer>
	<div><p class="content"> Copyright Ⓒ 2014 Travelly. All Right reserved. Designed for Despreneur. </p></div>
	<div></div>
	<p class="title"> home</p><p class="title"> about</p><p class="title"> blog</p><p class="title"> Press</p><p class="title"> contact</p>
	</footer>



	</body>